<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aioham</title>
    <link rel="stylesheet" href="{% static 'homepage/css/home.css' %}">
</head>

<body>
    <div class="hero">
        <a class="HOME__main__content">
            <h1>Aioham</h1>
        </a>
        <div class="contain">
            <ul>
            <!-- <a href="{% url 'booking' %}" class="card">booking</a> -->
            <!-- <a href="{% url 'jprlar' %}" class="card">beuty parlar</a> -->
            <!-- <a href="{% url 'bankingservices' %}" class="card">bank</a> -->
            <!-- <a href="{% url 'doctor' %}" class="card">doctor</a>  -->
            <a href="{% url 'digitalbussiness' %}" class="card"><li >digitalbussiness</li></a>
       
            <a href="{% url 'eventorganizer' %}" class="card">eventorganizer</a>
            <!-- <a href="{% url 'home' %}" class="card">home</a> -->
            <!-- <a href="{% url 'yourownshop' %}" class="card">my shop</a> -->
            <!-- <a href="{% url 'online_shoping_home' %}" class="card"> Shoptyfi</a> -->
            <!-- <a href="{% url 'matrimonial' %}" class="card">matrimonial</a> -->
            <a href="{% url 'movie' %}" class="card">movie</a>
            <!-- <a href="{% url 'news' %}" class="card">news</a> -->
            <!-- <a href="{% url 'realstate' %}" class="card">realstate</a> -->
            <!-- <a href="{% url 'rent' %}" class="card">rent everythig</a> -->
            <!-- <a href="{% url 'reviewhomepage' %}" class="card">review</a> -->
            {% if user.is_authenticated %}
                <a href="{% url 'education' %}" class="card">education</a>
                <a href="{% url 'socialmedia' %}" class="card">social media</a>
            {% endif %}
            <!-- <a href="{% url 'translator' %}" class="card">translator</a> -->
            <a href="{% url 'signin' %}" class="card">signin/login</a>
        </ul>
        </div>
       
    </div>

</body>

</html>