<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aioham_Education</title>
    <!-- <link rel="stylesheet" href="./../css/style.css"> -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
     <link rel="stylesheet" href="{% static 'education/css/style.css' %}">
    <script src="{% static 'education/js/script.js' %}" defer></script>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
{% block css %}
{% endblock css %}
</head>
  
<body>
    <nav>
        <div class="container nav__container">
            <h4><a href="{% url 'home' %}">Aoiham_</a><span><a href="{% url 'education' %}">Education</a></span></h4>
            <ul class="nav__menu">
                <li><a href="{% url 'education' %}">Home</a></li>
                <li><a href="{% url 'education_catogory' %}">Categories</a></li>
                <li><a href="{% url 'education_course' %}">Courses</a></li>
                <li><a href="{% url 'contect' %}">Contact</a></li>
                <li><a href="{% url 'contect' %}">About</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars">a</i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply">b</i></button>
        </div>
    </nav>
    <!-- end of nav bar -->
     {% block header %}
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1>Grow your skills to andvance your career path</h1>
                <p>As a teacher, you know that the children of today are the leaders of tomorrow. A quality education can transform a kid at school into an innovative leader in the workplace and community at large.</p>
                <a href="{% url 'education_course' %}"" class="btn btn-primary">Get Started</a>
            </div>
            <div class="header__right">
                <div class="hrader__right-image">
                    <img src="{% static 'education/image/images/header.svg' %}" alt="">
                </div>
            </div>
        </div>
    </header>
    {% endblock header %}
    <!-- ==================                    END OF HEADER          ================================= -->


    <!-- ---------------------   CATEGORIES                   ------------------------------ -->
     {% block categories %}
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>Categories</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magni omnis perferendis,</p>
                <a href="{% url 'education_catogory' %}" class="btn">ALL CATEGORY</a>
            </div>
            <div class="categories__right">
                {% for catogary in cotagory %}
                <article class="category">
                    <a href="{% url 'education_catagory_course' catogary.id %}">
                        <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                        <h5>{{catogary.catagory_name}}</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                    </a>
                    
                </article>
            {% endfor %}
            </div>
        </div>
    </section>

    {% endblock categories %}
    <!-- ======================        OUR POPULAR COURSES                   ======================== -->
    {% block course %}
    <section class="courses">
        <h2>    {% block courseheading %}Our Popular Courses{% endblock courseheading %}</h2>
        <div class="container courses__container">
            {% for subject in subject %}
        <article class="course">
            <a href="{% url 'course_details' subject.id %}">
            <div class="course__image">
                <img src="{{subject.subject_img.url}}" alt="">
            </div>
            <div class="course__info">
                <h4>{{subject.subject_name}}</h4>
                <p>{{subject.subject_description}}</p>
                <a href="'#" class="btn btn-primary">Larn More</a>
            </div>
        </a>
        </article>
        {% endfor %}
        </div>
    </section>
    {% endblock course %}
<!-- END OF COURSE  -->
{% block askQuestions %}
    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
        </div>
    </section>
    {% endblock askQuestions %}
    
    {% block Testimonials %}
    <section class="container testimonials__Container mySwiper">
        <h2>Student's Testimonials</h2>
        <div class="swiper-wrapper">
            
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src= "{% static 'education/image/images/avatar1.jpg' %}" alt="" >
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
            
        </div>
    </section>
    {% endblock Testimonials %}
  

</body>

</html>