<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./../css/style.css"> -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
     <link rel="stylesheet" href="{% static 'education/css/style.css' %}">
    <script src="{% static 'education/js/script.js' %}" defer></script>
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

</head>
 
<body>
    <nav>
        <div class="container nav__container">
            <a href="index.html">
                <h4>Aoiham_<span>Education</span></h4>
            </a>
            <ul class="nav__menu">
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="courses.html">Courses</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
            <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
        </div>
    </nav>
    <!-- end of nav bar -->
    <header>
        <div class="container header__container">
            <div class="header__left">
                <h1>Grow your skills to andvance your career path</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum quasi aliquid, laudantium delectus
                    rem blanditiis ex in, iusto nulla voluptates error atque dolorem voluptas officia est excepturi ut
                    omnis assumenda?</p>
                <a href="courses.html" class="btn btn-primary">Get Started</a>
            </div>
            <div class="header__right">
                <div class="hrader__right-image">
                    <img src="{% static 'education/image/images/header.svg' %}" alt="">
                </div>
            </div>
        </div>
    </header>
    <!-- ==================                    END OF HEADER          ================================= -->


    <!-- ---------------------   CATEGORIES                   ------------------------------ -->
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left">
                <h1>Categories</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate magni omnis perferendis,</p>
                <a href="#" class="btn">Learn More</a>
            </div>
            <div class="categories__right">
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                </article>
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                </article>
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                </article>
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                </article>
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                </article>
                <article class="category">
                    <span class="category__icon"><i class="uil uil-bitcoin-circle"></i></span>
                    <h5>Blockchain</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum repellendus, quia rerum amet</p>
                </article>
            </div>
        </div>
    </section>


    <!-- ======================        OUR POPULAR COURSES                   ======================== -->
    <section class="courses">
        <h2>Our Popular Courses</h2>
        <div class="container courses__container">

            <article class="course">
                <div class="course__image">
                    <img src="{% static 'education/image/images/course1.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive social website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsam molestiae numquam,
                        impedit accusamus explicabo!</p>
                    <a href="'course.html" class="btn btn-primary">Larn More</a>
                </div>
            </article>
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'education/image/images/course2.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive social website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsam molestiae numquam,
                        impedit accusamus explicabo!</p>
                    <a href="'course.html" class="btn btn-primary">Larn More</a>
                </div>
            </article>
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'education/image/images/course3.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive social website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsam molestiae numquam,
                        impedit accusamus explicabo!</p>
                    <a href="'course.html" class="btn btn-primary">Larn More</a>
                </div>
            </article>
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'education/image/images/course4.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive social website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsam molestiae numquam,
                        impedit accusamus explicabo!</p>
                    <a href="'course.html" class="btn btn-primary">Larn More</a>
                </div>
            </article>
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'education/image/images/course5.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive social website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsam molestiae numquam,
                        impedit accusamus explicabo!</p>
                    <a href="'course.html" class="btn btn-primary">Larn More</a>
                </div>
            </article>
            <article class="course">
                <div class="course__image">
                    <img src="{% static 'education/image/images/course6.jpg' %}" alt="">
                </div>
                <div class="course__info">
                    <h4>Responsive social website UI Design</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laborum ipsam molestiae numquam,
                        impedit accusamus explicabo!</p>
                    <a href="'course.html" class="btn btn-primary">Larn More</a>
                </div>
            </article>

        </div>
    </section>
<!-- END OF COURSE  -->
    <section class="faqs">
        <h2>Frequently Asked Questions</h2>
        <div class="container faqs__container">
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
            <article class="faq">
                <div class="faq__icon"><i class="uil uil-plus"></i></div>
                <div class="question__answer">
                    <h4>How do i know the right courses for me</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas ex obcaecati enim quasi harum. Voluptatum sit, quibusdam ducimus consectetur tenetur beatae iure repellat praesentium, nulla hic repellendus veritatis nobis consequatur voluptates.</p>
                </div>
            </article>
        </div>
    </section>



    <section class="container testimonials__Container mySwiper">
        <h2>Student's Testimonials</h2>
        <div class="swiper-wrapper">
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src= "{% static 'education/image/images/avatar1.jpg' %}" alt="" >
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'education/image/images/avatar2.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'education/image/images/avatar3.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'education/image/images/avatar4.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'education/image/images/avatar5.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'education/image/images/avatar6.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .

                    </p>
                </div>
            </article>
            <article class="testimonial swiper-slide">
                <div class="avatar">
                    <img src="{% static 'education/image/images/avatar7.jpg' %}" alt="">
                </div>
                <div class="testimonial__info">
                    <h5>Diana Ayi</h5>
                    <small>Student</small>
                </div>
                <div class="testimonial__body">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid iusto odit deleniti inventore laboriosam magni ut laborum nesciunt .
                    </p>
                </div>
            </article>
        </div>
    </section>
    <footer>
        <h1>footer is due</h1>
    </footer>
</body>

</html>