*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background: blanchedalmond no-repeat ;
    background-position: center;
}
.hero{
    margin: 2rem;
    padding: 3rem;
}
.contain{
    
}
.hero .contain ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}

.hero .contain ul a{
    text-decoration: none;
    color: wheat;
    text-align: center;
    font-size: 35px;

}
.card { 
    display: inline-block; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    background-color: #007bff; 
    color: #fff; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
  } 
   
  .card:hover { 
    background-color: #0062cc; 
  } 
   
  @media screen and (max-width: 767px) { 
    .card { 
      display: block; 
      width: 100%; 
      margin-bottom: 10px; 
    } 
  } 