
root{
  --green:green;
  --black:#130f40;
  --light-color:#666;
  --box-shadow:0 .2rem 1rem rgb(64, 44, 44);
  --border:2rem solid rgba(0,0,0.1);
  --outline:.1rem solid rgba(0,0,0.1);
}
*{
  font-family: 'Poppins' sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
body{
  background: #eee;

}
.hero{
    margin: 2rem;
    padding: 3rem;
}
.hero .hedier{
  border: 0px solid;
  border-bottom: #130f40;
  position: fixed;
  height: 6rem;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  background: #fff;
  z-index: 1000;
  box-shadow: var(--box-shadow);
  /* display: flex; */
  /* justify-content: space-around; */
}
.hero .hedier a h1{
  font-size: 5rem;
}
.hero .hedier .logo{
  width: 5rem;
  height: 5rem;

  
}
.hero .hedier .logo img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border: 2px solid black;
  border-radius: 50%;

}

.hero .contain{
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.hero .contain .content{
  width: 22rem;
  height: 12rem;
  border: 2px solid black;
 
}
.hero .contain .content img{
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.hero .contain .content video{
  width: 100%;
  height: 80%;
  object-fit: cover;
}
.hero .contain .content a{
  margin-bottom: 1px;
}

.hero .contain .content .card h2{
  position: relative;
  text-align: center;
}


/* .hero .contain ul{
  margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    text-align: center;
    justify-content: center;
    list-style-type: none;
}

.hero .contain ul a{
    text-decoration: none;
    color: wheat;
    text-align: center;
    font-size: 35px;

}
.card { 
    display: inline-block; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-weight: bold; 
    text-align: center; 
    text-decoration: none; 
    background-color: #007bff; 
    color: #fff; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
  } 

   
  .card:hover { 
    background-color: #0062cc; 
  } 
   
  @media screen and (max-width: 767px) { 
    .card { 
      display: block; 
      width: 100%; 
      margin-bottom: 10px; 
    } 
  }  */
  @media screen and (max-width: 767px) { 
    .hero .contain{
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      gap: 12px;
    }
    .hero .contain .content{
      width: 12rem;
      height: 12rem;
      border: 2px solid black;
     
    }
  } 